/** {
  border: 1px solid blue;
}*/

.header {
  font-size: 1.2em;
  padding-top: 1em;
  width: 100vw;
  height: 3.5em;
  position: fixed;
}

.logo {
  display: inline-block;
  height: 100%;
  text-decoration: none;
}

.logo__image {
  box-sizing: border-box;
  height: 100%;
  padding: 0.8em 0em 0.8em 1em;
}

.logo__text {
  font-family: 'Roboto', arial, sans-serif;
  text-transform: uppercase;
  color: rgb(150,150,150);
  display: inline-block;
  position: relative;
  bottom: 1.4em;
  margin: 0 -.1em;
}

.logo__text--green {
  color: #a5d050;
}

.link {
  display: inline-block;
  text-decoration: none;
  position: absolute;
  bottom: 1.15em;
  right: 1em;
}

.link__text {
  font-family: 'Roboto', arial, sans-serif;
  text-transform: uppercase;
  color: rgb(150,150,150);
}


.back {
  display: inline-block;
  text-decoration: none;
  position: absolute;
  height: 100%;
  right: 1em;
  bottom: -0.75em;
}

.back__image {
  box-sizing: border-box;
  height: 60%;
  padding: 1em 0 0 1em;
}
