body {
  font-family: 'Roboto', sans-serif;
}

.payment-form {
  font-size: 1.2rem;
  padding: 4em 2em 0em;
  position: relative;
}

.form-title {
  font-size: 1.2rem;
}

.form-field {
  display: block;
  margin-bottom: 1em;
}

.form-field--block {
  display: block;
}

.form-field--inline-block {
  display: inline-block;
  width: 40%
}

.form-field--inline-block--right {
  position: absolute;
  right: 2em;
}

.form-field__input {
  width: 100%;
  height: 1.3em;
}

.form-field__label {
  font-size: 0.7em;
}

.form-field__label--block {
  display: block;
}

.form-field__label--inline {
  display: inline-block;
}

#payment-method {
  width: 100%;
  font-size: 0.8em;
  background-color: white;
  height: 2em;
}

.warning {
  display: none;
  font-size: 1em;
  color: red;
  font-size: 0.8em;
}
